*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: darkcyan;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskApp{
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 5px;
}

.taskApp h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.task-input{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#inputField{
    flex: 1;
    padding: 5px;
}


.task-list{
    margin-top: 20px;
}

.task-list li{
    list-style: none;
    padding: 5px;
}